/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// Loading Google Fonts
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@mixin body-font-regular {
    font-family: 'PT Sans Narrow', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-italic {
    font-family: 'PT Sans Narrow', helvetica, verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: 'PT Sans Narrow', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'Roboto Slab', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#wrap{
text-align:left;
width:700px;
background-color: #FFFFFF;
padding:10px;
} 


// Site Variables
$color: #242424;
$background-color: #e6e6e6;